%header.cf
  .header__logo
    = link_to image_tag("logo.png"),root_path,class: "header__logo__size"
  .header__middle
    .header__search
      .header__search__size.header__search__show
        .header_search__size__relative
          %input{name: "things",placeholder: "探す",class: "header_search__size__relative__show"}
          = image_tag("search_log.png", class: "header_search__size__relative__show__img")
  .header__navi
    %ul.cf
      %li
        = link_to "ホストをはじめる",root_path,class: "header__navi__start_host header__navi_common"
      %li
        = link_to "ヘルプ",root_path,class: "header__navi__help header__navi_common"
      %li
        = link_to "アカウント作成",root_path,class: "header__navi__create_account header__navi_common"
      %li
        = link_to "ログイン",root_path,class: "header__navi__login header__navi_common"
