%body
  %header
    .header__logo
      = link_to image_tag("logo.png"),root_path,class: "header__logo__size"
    .header__middle
      .header__search
        .header__search__size
          .header_search__size__relative
            %input{name: "things",placeholder: "「ソウル」などエリアを入力"}
            = image_tag("search_log.png",)
    .header__navi
      %ul
        %li
          = link_to "ホストをはじめる",root_path,class: "header__navi__start_host header__navi_common"
        %li
          = link_to "ヘルプ",root_path,class: "header__navi__help header__navi_common"
        %li
          = link_to "アカウント作成",root_path,class: "header__navi__create_account header__navi_common"
        %li
          = link_to "ログイン",root_path,class: "header__navi__login header__navi_common"
  .main-content
    .main-content__h2
      %h2 Airbnbで探す
    .main-content__rooms__button
      = link_to "宿泊先",root_path, class: "main-content__rooms__button__link"
  %footer
